@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

/*------------------------------ header style------------------------------*/

.header {
    height: 60px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo,
.icon-filter,
.btn {
    margin: 8px;
}

.icon-filter {
    display: block;
    width: auto;
    height: auto;
    font-size: 30px;
    background: #FBA919;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}

/*----------------------------------- Menu styles -----------------------------------*/

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.9s;
}

.menu {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 20px;
    background: #FBA919;
    text-decoration: none;
    color: #333;
}

.menu__link:hover,
select {
    background: #333;
    color: #FBA919;
}

.show {
    left: 0;
}

.show-off {
    visibility: hidden;
}

/*-------------------------------- Banner style --------------------------------*/

.banner__contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner__titulo, .banner__txt {
    text-align: center;
}

/*------------------------- footer style -------------------------*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

/*----------------------------- Grid style -----------------------------*/
.grid {
    display: inline-block;
    align-content: center;
    padding: 0px;
    margin: 15px 0;
    transition: all 0.7s;
}

.grid:hover {
    padding: 15px;
    background: #FBA919;
}

.grid__body {
    visibility: hidden;
    text-align: center;
    transition: all 0.7s;
}

.grid a:hover~div {
    visibility: visible;
    text-align: center;
}

.masonry {
    columns: 4;
    column-gap: 100px;
    transition: all 0.9s;
}

.grid span {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.7s;
    position: absolute;
}

.grid:hover span {
    visibility: visible;
}

/*-----------------------------Card style -----------------------------*/

.card-add {
    margin: 32px;
    background: #FBA919;
}

.card-body {
    margin-top: 40px;
}

.input-group {
    padding-top: 16px;
}

/*----------------------------- Resposive -----------------------------*/



@media(min-width: 480px) {
    .logo {
        font-size: 30px;
    }

    .banner__titulo {
        font-size: 30px;
        margin: 5px 0;
    }

    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }

    .footer .social [class^="icon-"] {
        margin: 0 10px;
    }

    .grid span {
        font-size: 20px;
        line-height: 35px;
    }

    .masonry {
        columns: 2;
        column-gap: 16px;

    }
}

@media(min-width: 768px) {
    .grid span {
        font-size: 25px;
        line-height: 40px;
    }

    .banner__titulo {
        font-size: 50px;
    }

    .masonry {
        columns: 3;
        column-gap: 16px;

    }
}

@media(min-width: 1024px) {
    .grid span {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 30px;
        color: #fff;
        text-align: center;
        line-height: 45px;
        border-radius: 5px;
        margin-left: auto;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.7s;
        position: absolute;
    }

    .banner__titulo {
        font-size: 60px;
    }

    .masonry {
        columns: 4;
        column-gap: 16px;

    }
}

@media (max-width: 479px) {
    .masonry {
        columns: 1;
        column-gap: 16px;
    }
}


/*------------------------- Transitions - Animations -------------------------*/


.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
